h2
{
    font-family:Verdana;
    font-size:12pt;
    font-weight:bold;
    margin-bottom:20px;
    margin-left:30px;
}
p
{
    font-family:Verdana;
    font-size:10pt;
    font-weight:bold;
    margin-left:10px;
}
#cabecera, #tipo
{
    margin: 0px 20px;
}
.divcab
{
    /*border:1px solid black;*/
    float:left;
    width:20%;
}
#boton
{
    /*border:1px solid black;*/
    float:left;
    width:15%;
}
/*#regresar, #exportar
{
    float:left;
    width:49%;
}*/
.cmdCon
{
    font-weight:bold;
    color:#FFFFFF;
    background-color:#555555;
    border-style:solid;
    border-color:#FFFFFF;
    border-width:1px;
    padding:3px 15px 3px 15px;
    display:block;
    margin: 23px Auto 0px Auto;
    width:120px;
}
.txtFechas
{
    width:100px;
    font-family:Verdana;
    font-size:10pt;
    margin-left:10px;
    padding-left:5px;
}
.calFechas
{
    margin-left:5px;
    padding-top:5px;
}
#resultado
{
    margin-top:20px;
}
.titFec
{
    width:100px;
}
.titRad
{
    width:130px;
}
.titSol
{
    width:210px;
}
.titDir
{
    width:190px;
}
.titMod
{
    width:180px;
}
.titRes
{
    width:60px;
}
.cboTipo
{
    width:250px;
    font-family:Verdana;
    font-size:10pt;
    margin:10px 0 10px 10px;
    padding-left:5px;
}
.dtlist
{
    font-family:Verdana;
    font-size:10pt;
    margin:10px 0 10px 20px;
    padding-left:5px;
}
.lbldes
{
    font-size:10pt;
    font-weight:bold;
}
#regi
{
    margin:10px 0 10px 10px;
}